/* ESSENTIAL STRUCTURE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #add8e6;
    font-family: "Nerko One", Arial, Helvetica, sans-serif;
}

.page-container {
    width: 65%;
    margin: auto;
}
/* END ESSENTIAL STRUCTURE */

/* HEADER */
h1 {
    text-align: center;
    font-size: 70px;
    color: white;
    text-shadow: 1px 1px black;

    margin-top: 20px;
    margin-bottom: 30px;
}
/* END HEADER */

/* MAIN */
    .row {
         text-align: center;
    }

    .card {
        width: 20%;
        height: 200px;
        display: inline-block;
        margin: 10px;
        padding: 40px;
        position: relative;
        
        background-color: white;
        border-radius: 10px;
        background-image: url("../img/pattern.png");
        background-size: contain;
    }

    .uncover {
        background-image: none;
    }

    .uncover .card-figure {
        display: block;
    }

    .uncover .uncover-name {
        display: block;
    }

    .card-figure {  
        width: 100%;
        display: none;
    }

    .card:hover img {
        display: block;
    }

    .card-name {
        position: absolute;
        font-size: 30px;
        bottom: 4%;
        right: 25%;
        display: none;
    }

    .card:hover .card-name {
        display: block;
    }
/* END MAIN */

/* FOOTER */
footer {
    margin-top: 25px;
    margin-bottom: 60px;

    text-align: center;
    font-size: 20px;
}
/* END FOOTER */